html {
    scroll-behavior: smooth
}

.aboutContainer {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #A08B59;
    width: 80vw;
    align-self: center;
    padding: .5em;
    padding-top: 0;
}

.aboutParagraph {
    font-size: .75em;
}

.connectionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: .75em;
}

.emailPhone {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo {
    background-color: #9197AF;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .1em;
    margin: .25em;
}

.logo:hover {
    opacity: .7;
}

.logoImg {
    opacity: .5;
}

.logos {
    display: flex;
    justify-content: center;
}

.name {
    font-weight: 500;
    margin: 0px;
    margin-top: .5em;
}