a {
    color: #9197AF;
}

.contact {
    /* background-color: #3D6670; */
    opacity: .8;

}

.contactInfoContainer {
    margin-top: .5em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: .25em;
    /* background-color: #D2A1A8; */
    width: 60vw;
    /* color: #3D6670; */
}

.footerContainer {
    border-top: solid;
    border-color: #A08B59;
    width: 80vw;
    align-self: center;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .75em;
    padding-top: 1em;
}

.footerEmail {
    /* color: #3D6670; */
}