* {
    /* border: solid; */
}

.mapContainer {
    background-color: #3D6670;
    padding-top: .25em;
    /* border: solid red; */
}

path {
    pointer-events: all;
}

path:hover {
    opacity: 0.50;
    cursor: pointer;
}