/* * {
    border: solid;
} */

.bigHitters {
    background-color: #A08B59;
}

.somethingFun {
    background-color: #D2A1A8;
}

.item {
    border-radius: 5px;
    padding: 5px;
}
.mapContainer {
    padding-top: .25em;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.mapDescription {
    font-size: .75em;
    padding-top: .5em;
}

.mapKey {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: #3D6670;
    margin-right: 1em;
}

path {
    pointer-events: all;
}

path:hover {
    opacity: 0.50;
    cursor: pointer;
}