.bigHitters {
    background-color: #A08B59;
    color: #A08B59;
    border-radius: 5px;
}

.item {
    border-radius: 5px;
    padding: 5px;
    display: flex;
}

.mapContainer {
    padding-top: .25em;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.stateDetails {
    font-size: .75em;
    padding-top: .5em;
}

.mapKey {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    color: #9197AF;
    margin-right: 1em;
    font-size: .75em;
}

path {
    pointer-events: all;
}

path:hover {
    opacity: 0.50;
    cursor: pointer;
}

.somethingFun {
    background-color: #D2A1A8;
    color: #D2A1A8;
    border-radius: 5px;
}

.statePhoto {
    border-radius: 20px;
    margin-top: .5em;
    height: 15em;
}
.usaMap {
    height: auto;
    width: 80vw;
}