.navBar {
    margin: .5em;
    width: 80vw;
    align-self: center;
}

.navLi {
    font-size: .75rem;
}

.navText {
    padding: 5px;
    text-decoration: none;
}

.navText:hover {
    opacity: .7;
    background-color: antiquewhite;
    border-radius: 3px;
}

.navUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px;
    gap: 10px;
    font-size:0;
}
