.skill {
    background-color: #D2A1A8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: .25em;

}
.skillsHeader {
    padding-top: 10px;
    border-top-style: solid;
    border-color: #A08B59;
    width: 80vw;
    align-self: center;
}

.skill:hover {
    padding: .3em;
}

.skillImg {
    opacity: .6;
}


.skillsContainer {
    background-color: #3D6670;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

.skillsList {
    display: flex;
    align-self: center;
    gap: 20px;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}